@{
	ViewData["Title"] = "Query result";
}

@using System.Data
@model System.Data.DataTable

<style>
	table, th, td {
		border: 1px solid black;
	}
</style>

<!DOCTYPE html>
<html>

<head>
	<title>Результат</title>
</head>

<body>
	<div>
		<h2>Результат запроса</h2>

		@if (TempData["alertMessage"] != null)
		{
			<label class ="error">@TempData["alertMessage"]</label>
		}
		else
		{
			if (Model.Rows.Count == 0)
			{
				<label> Данные не найдены. </label>
			}
			else
			{
				<table>
					<tr class="gray_tr">
						@foreach (DataColumn column in Model.Columns)
						{
							<th>@column.ColumnName</th>
						}
					</tr>

               @for (int i = 0; i < Model.Rows.Count; i++)
               {
                  var row = Model.Rows[i];

                  if(i % 2 == 1)
                  {
                     <tr class="gray_tr">
                        @foreach (DataColumn column in Model.Columns)
                        {

                           <td>@row[column.ColumnName]</td>
                        }
                     </tr>
                  }
                  else
                  {
                     <tr>
                        @foreach (DataColumn column in Model.Columns)
                        {

                           <td>@row[column.ColumnName]</td>
                        }
                     </tr>
                  }
					}
				</table>
			}
		}

	</div>
</body>
</html>